---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/home/Hero.astro";
import HeroFull from "../components/home/HeroFull.astro";
import FeaturedWork from "../components/home/FeaturedWork.astro";
import Testimonials from "../components/home/Testimonials.astro";
import CallToAction from "../components/home/CallToAction.astro";
import BentoGrid from "../components/home/BentoGrid.astro";
import LatestPosts from "../components/home/LatestPosts.astro";
import ClientsLogos from "../components/home/ClientsLogos.astro";
import settings from "../content/ustawienia.json";

const { site } = Astro;
const baseUrl = site ? site.toString().replace(/\/$/, "") : "";
const siteUrl = baseUrl ? `${baseUrl}/` : "/";
const siteLogo = settings.logo ? (baseUrl ? `${baseUrl}${settings.logo}` : settings.logo) : "";
---

<BaseLayout
  title="Projektowanie stron internetowych"
  description="Nowoczesne strony internetowe: strategia, design, wdrozenie i wsparcie. Minimalistycznie, szybko i z mysla o wynikach."
  showHero={false}
>
  <div itemscope itemtype="https://schema.org/WebSite">
    <meta itemprop="name" content={settings.siteTitle} />
    <meta itemprop="url" content={siteUrl} />
    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
      <meta itemprop="name" content={settings.siteTitle} />
      {siteLogo ? <meta itemprop="logo" content={siteLogo} /> : null}
    </div>
  </div>
	<HeroFull />
	<ClientsLogos />
	<BentoGrid />
	<FeaturedWork />
	<Testimonials limit={2} />
	<LatestPosts />
	<CallToAction />
</BaseLayout>
