---
import BaseLayout from "../layouts/BaseLayout.astro";
import GridOne from "../components/home/gridOne.astro";
import GridTwo from "../components/home/GridTwo.astro";
import GridThree from "../components/home/GridThree.astro";
import settings from "../content/ustawienia.json";

const { site } = Astro;
const baseUrl = site ? site.toString().replace(/\/$/, "") : "";
const siteUrl = baseUrl ? `${baseUrl}/` : "/";
const siteLogo = settings.logo ? (baseUrl ? `${baseUrl}${settings.logo}` : settings.logo) : "";
---

<BaseLayout
  title="Projektowanie stron internetowych"
  description="Nowoczesne strony internetowe: strategia, design, wdrozenie i wsparcie. Minimalistycznie, szybko i z mysla o wynikach."
  showHero={false}
>
  <div itemscope itemtype="https://schema.org/WebSite">
    <meta itemprop="name" content={settings.siteTitle} />
    <meta itemprop="url" content={siteUrl} />
    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
      <meta itemprop="name" content={settings.siteTitle} />
      {siteLogo ? <meta itemprop="logo" content={siteLogo} /> : null}
    </div>
  </div>

  <GridOne />
  <GridTwo />
  <GridThree />

</BaseLayout>
