---

import { Image } from "astro:assets";

const { title, lead, tags, date, headerImage } = Astro.props;
const isHeaderAsset = !!headerImage && typeof headerImage === "object" && "src" in headerImage;
const headerSrc = !isHeaderAsset ? headerImage : null;
const formattedDate = date ? new Date(date).toLocaleDateString('pl-PL', {
  year: 'numeric',
  month: '2-digit',
  day: '2-digit'
}) : null;
---

  
<section class="relative pt-36 pb-8 md:pt-42 md:pb-16">
  
  <div class="pointer-events-none absolute inset-y-0 left-1/2 w-screen -translate-x-1/2">
   <div class="pointer-events-none absolute inset-y-0 left-1/2 w-screen -translate-x-1/2 overflow-hidden">
  {headerImage ? (
    isHeaderAsset ? (
      <Image
        src={headerImage}
        alt=""
        class="absolute inset-0 h-full w-full object-cover"
        sizes="100vw"
        widths={[640, 960, 1280, 1600, 1920]}
        loading="lazy"
        decoding="async"
        aria-hidden="true"
      />
    ) : (
      <img
        class="absolute inset-0 h-full w-full object-cover"
        src={headerSrc}
        sizes="100vw"
        loading="lazy"
        decoding="async"
        alt=""
        aria-hidden="true"
      />
    )
  ) : null}
   </div>
   <div class="absolute inset-0 bg-black/60"></div>
  </div>
  <div class="relative mx-auto w-full grid gap-10 lg:grid-cols-[250px_minmax(0,1fr)_280px] text-white">
    <div class="hidden lg:block"></div>
    <div class="space-y-4">
        <div class="text-[8px] md:text-[10px] uppercase tracking-[0.1em] text-white/70 mb-3 md:mb-6 font-semibold">
        <span>Główna</span>
        <span class="text-[var(--accent)]"> > </span>
        <span class="text-white/90"> {title}</span>
      </div>
    <h1 class="text-2xl sm:text-3xl/4 md:text-4xl lg:text-5xl font-semibold tracking-tight text-white">
      {title}
    </h1>

  <div class="max-w-2xl">

  <div class="flex flex-wrap gap-x-8 gap-y-2 pt-6 mt-6 border-t border-white/15 font-semibold text-[8px] md:text-[10px] tracking-[0.15em] uppercase text-white/70">
    {tags && tags.length > 0 && (
      <div>
        Kategoria <span class="text-[var(--accent)]"> > </span> <span class="text-white/90">{tags[0]}</span>
      </div>
    )}
    {formattedDate && (
      <div class="">
        Opublikowano <span class="text-[var(--accent)]"> > </span> <span class="text-white/90">{formattedDate}</span>
      </div>
    )}
    <!--
    <div class="text-gray-400">
      4 minuty czytania
    </div>
     -->
  </div>
</div>

    </div>
    <div class="hidden lg:block"></div>
  </div>
</section>
